
.picklist-demo .card {
  width: 100%;
}

.picklist-demo .p-picklist {
  width: 100%;
}

.picklist-demo .p-picklist-list-wrapper {
  min-width: 0;
}

.picklist-demo .p-picklist .p-picklist-list {
  height: 342px;
}

.picklist-demo .product-item {
  display: flex;
  align-items: center;
  /* padding: .5rem; */
  width: 100%;
  min-width: 0;
}

.picklist-demo .product-item img {
  width: 75px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 1rem;
}

.picklist-demo .product-item .product-list-detail {
  flex: 1 1 0;
  min-width: 0;
}

.picklist-demo .product-item .product-list-detail span,
.picklist-demo .product-item .product-list-detail h5 {
  overflow-wrap: break-word;
  word-break: break-word;
}

.picklist-demo .product-item .product-list-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.picklist-demo .product-item .product-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

.picklist-demo .product-item .product-category {
  vertical-align: middle;
  line-height: 1;
}

@media screen and (max-width: 769px) {
  .picklist-demo .p-picklist .p-picklist-list {
    height: 220px;
  }

  .picklist-demo .p-picklist .p-picklist-header,
  .picklist-demo .p-picklist .p-picklist-filter-container {
    padding: 0.75rem;
  }

  .picklist-demo .p-picklist-buttons {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .picklist-demo .product-item {
      flex-wrap: wrap;
  }

  .picklist-demo .product-item .image-container {
      width: 100%;
      text-align: center;
  }

  .picklist-demo .product-item img {
      margin: 0 0 1rem 0;
      width: 100px;
  }

  .picklist-demo .p-picklist .p-picklist-list {
    height: 180px;
  }
}
